main {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('assets/palms-dith.jpg');
  background-position: center 54%;
  background-size: cover;
  /* background-image: url('assets/city-dith.jpg');
  background-position: center 65%;
  background-size: cover; */
}

.container {
  margin: auto;
}

.player {
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
