main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: var(--bg-image-src);
  background-position: var(--bg-image-pos);
  background-size: cover;
}

.container {
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 0 4px black;

}

.player {
  width: 280px;
  height: 480px;
  border-radius: inherit;
  box-shadow: var(--player-inset-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  padding-block: 24px;
  background: linear-gradient(45deg, var(--color-player-start), var(--color-player-end));
}

.display {
  width: 100%;
  min-height: 9rem;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 6px;
  font-size: 0.875rem;
  background: linear-gradient(45deg, var(--color-screen-start), var(--color-screen-end));
  box-shadow: inset 0 0 7px -1px black;
}

.display-field {
  min-height: 2em;
  overflow-x: scroll;
  white-space: nowrap;
}

.control-wheel {
  position: relative;
  width: 100%;
}

.testbtn {
  border: none;
  background-color: transparent;
  color: white;
}