:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --bg-image-src-light: url('assets/palms-dith.jpg');
  --bg-image-pos-light: center 54%;
  --bg-image-src-dark: url('assets/city-dith.jpg');
  --bg-image-pos-dark: center 65%;
  
  --color-white-100: #fdfdfd;
  --color-white-200: #eaeaea;
  --color-grey-100: #d9d9d9;
  --color-grey-200: #bfbfbf;
  --color-dark-grey-100: #838383;
  --color-dark-grey-200: #3c3c3c;

  --bg-image-src: var(--bg-image-src-light);
  --bg-image-pos: var(--bg-image-pos-light);

  --color-player-start: var(--color-white-200);
  --color-player-end: var(--color-white-100);
  --color-screen-start: var(--color-grey-200);
  --color-screen-end: var(--color-grey-100);
}

[data-theme="dark"] {
  --bg-image-src: var(--bg-image-src-dark);
  --bg-image-pos: var(--bg-image-pos-dark);
  --color-player-start: var(--color-dark-grey-200);
  --color-player-end: var(--color-dark-grey-100);
  --color-screen-start: var(--color-white-200);
  --color-screen-end: var(--color-white-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
