:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --bg-image-src-light: url('assets/palms-dith.jpg');
  --bg-image-src-dark: url('assets/city-dith.jpg');
  --bg-image-pos-light: center 54%;
  --bg-image-pos-dark: center 65%;
  
  --color-white-100: #fdfdfd;
  --color-white-200: #eaeaea;
  --color-white-300: #dfdfdf;
  --color-grey-100: #cbcbcb;
  --color-grey-200: #afafaf;
  --color-grey-300: #4d4d4d;

  --player-inset-shadow-light: inset 0.5px -0.5px 14px -6px var(--color-grey-300);
  --player-inset-shadow-dark: inset 0.5px -0.5px 14px -3px black;

  /* DEFAULT THEME */
  --bg-image-src: var(--bg-image-src-light);
  --bg-image-pos: var(--bg-image-pos-light);
  --color-player-start: var(--color-white-200);
  --color-player-end: var(--color-white-100);
  --color-screen-start: var(--color-grey-100);
  --color-screen-end: var(--color-white-200);
  --player-inset-shadow: var(--player-inset-shadow-light);
  --color-border: var(--color-grey-200);
}

[data-theme="fm-night"] {
  --bg-image-src: var(--bg-image-src-dark);
  --bg-image-pos: var(--bg-image-pos-dark);
  --color-player-start: var(--color-grey-300);
  --color-player-end: var(--color-grey-200);
  --color-screen-start: var(--color-grey-100);
  --color-screen-end: var(--color-white-100);
  --player-inset-shadow: var(--player-inset-shadow-dark);
  --color-border: var(--color-grey-300);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
